services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      DB_PATH: /var/lib/bot/bot.db
    volumes:
      - ./main.py:/app/main.py
      - ./src:/app/src
      - ./db:/var/lib/bot
